/* CSS for the meeting details
div {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

div p {
  margin: 5px 0;
}

div button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

div button:hover {
  background-color: #c82333;
}

form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
} */

/* Styling for meeting container */
.Meeting-minute {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.Meeting-minute p {
  margin: 5px 0;
}

.Meeting-minute h2 {
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}
