<section class="container">
  <section class="header">
    <h1>CS Customer Support(Auditor Portal)</h1>
    <section class="search-bar">
      <input type="text" placeholder="Search" />
      <button (click)="onNewProject()">Search</button>
    </section>
    <section class="user-info">
      <span>{{ users[0].name }}({{ users[0].role }}) </span>
      <button (click)="logout()">Logout</button>
    </section>
  </section>
  <section class="content">
    <section class="side-nav">
      <button (click)="onNewProject()">New Project</button>
      <h2>Projects</h2>
      <ul>
        <li (click)="onShowResources()">Show Resources</li>
        <li (click)="OnResources()">Add Resources</li>
        <li (click)="onShowApproveTeam()">Show Approve Team</li>
        <li (click)="onApproval()">Add Approve Team</li>
        <li (click)="onShowClientFeedback()">Show Client Feedback</li>
        <li (click)="onShowProjectUpdate()">Show project update</li>
      </ul>
      <h2>Add employee</h2>
      <ul>
        <li><button>+</button> Employees</li>
      </ul>
      <h2>Setting</h2>
    </section>
    <section class="main-content">
      <!-- <app-project-budget></app-project-budget> -->
      <!-- <app-projet-budget-edit-delete></app-projet-budget-edit-delete> -->
      <!-- <app-add-stakeholder></app-add-stakeholder> -->
      <!-- <app-edit-delete-stakeholder></app-edit-delete-stakeholder> -->
      <!-- <app-add-risk-profling></app-add-risk-profling> -->
      <!-- <app-edit-delete-risk-profling></app-edit-delete-risk-profling> -->
      <!-- <app-add-phases-milestone></app-add-phases-milestone> -->
      <!-- <app-edit-delete-phases-milestone></app-edit-delete-phases-milestone> -->
      <!-- <app-add-sprint></app-add-sprint> -->
      <!-- <app-edit-detete-sprint></app-edit-detete-sprint> -->
      <!-- <app-add-audit-history></app-add-audit-history> -->
      <!-- <app-edit-delete-audit-history></app-edit-delete-audit-history> -->
      <!-- <app-add-verion-history></app-add-verion-history> -->

      <!-- <app-create-project *ngIf="IsNewProject"></app-create-project>
      <app-resources-data *ngIf="IsResources"></app-resources-data>
      <app-approval-team *ngIf="IsApproval"></app-approval-team>
      <app-view-approve-team *ngIf="IsShowApproveTeam"></app-view-approve-team>
      <app-view-resources *ngIf="ViewResources"></app-view-resources>
      <app-show-feedback-manager
        *ngIf="IsClientfeedback"
      ></app-show-feedback-manager>
      <app-show-update *ngIf="IsViewProjectUpdate"></app-show-update> -->
    </section>
  </section>
</section>
