<form [formGroup]="projectResourceForm" (submit)="addProjectResource()">
  <input type="text" formControlName="projectId" placeholder="Project ID" />
  <input type="text" formControlName="resourceId" placeholder="Resource ID" />
  <input
    type="number"
    formControlName="allocationPercentage"
    placeholder="Allocation Percentage"
  />
  <input type="date" formControlName="start" placeholder="Start Date" />
  <input type="date" formControlName="end" placeholder="End Date" />
  <input type="text" formControlName="role" placeholder="Role" />
  <button type="submit">Add Project Resource</button>
</form>

<div *ngFor="let projectResource of projectResources; let i = index">
  <p>Project ID: {{ projectResource.projectId }}</p>
  <p>Resource ID: {{ projectResource.resourceId }}</p>
  <p>Allocation Percentage: {{ projectResource.allocationPercentage }}</p>
  <p>Start Date: {{ projectResource.start }}</p>
  <p>End Date: {{ projectResource.end }}</p>
  <p>Role: {{ projectResource.role }}</p>
  <button (click)="deleteProjectResource(projectResource.id)">Delete</button>
</div>
