<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
  <section class="form-container">
    <section>
      <label for="projectID">Project ID</label>
      <!-- <input type="text" id="projectID" formControlName="ProjectId" placeholder="Enter your Project ID" /> -->
      <select id="projectID" formControlName="ProjectId">
        <option value="" hidden default>Select the Project ID</option>
        <option *ngFor="let user of projectIds" [value]="user">{{ user }}</option>
      </select>
    </section>
    <section class="form-type">
      <label for="type">Type:</label>
      <select formControlName="type" id="type">
        <option value="Positive">Positive</option>
        <option value="Negative">Negative</option>
      </select>
    </section>
    <section class="feedback">
      <label for="detailedFeedback">Detailed Feedback:</label>
      <textarea
        formControlName="detailedFeedback"
        id="detailedFeedback"
        cols="37"
      ></textarea>
    </section>
    <section class="actionTaken">
      <label for="actionTaken">Action Taken:</label>
      <textarea formControlName="actionTaken" id="actionTaken"></textarea>
    </section>
    <section>
      <label for="closureDate">Closure Date:</label>
      <input
        type="date"
        formControlName="closureDate"
        id="closureDate"
        [disabled]="true"
      />
    </section>
  </section>
  <button type="submit">Submit</button>
</form>
