<!-- <h1>App Compunent works</h1> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-client-dashboard></app-client-dashboard> -->
<!-- <app-meeting-minute></app-meeting-minute> -->
<!-- <app-project-resources></app-project-resources> -->
<!-- <app-client-meeting></app-client-meeting> -->
<!-- <app-meeting-project-manager></app-meeting-project-manager> -->
<!-- <app-client-feedback></app-client-feedback> -->

<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-login-page></app-login-page> -->
<!-- <app-client-dashboard></app-client-dashboard> -->
<!-- <app-project-updates></app-project-updates> -->
<!-- <app-create-project></app-create-project> -->
<!-- <app-project-list></app-project-list> -->
<router-outlet></router-outlet>
