<!-- Form Data For metting minute in which the meeting is going to schedule-->
<form [formGroup]="meetingMinuteForm" (submit)="addMeetingMinute()">
  <select id="projectID" formControlName="projectId">
    <option value="" hidden default>Select the Project ID</option>
    <option *ngFor="let user of projectIds" [value]="user">{{ user }}</option>
  </select>
  <input
    type="datetime-local"
    formControlName="meetingDate"
    placeholder="Meeting Date"
  />
  <input type="text" formControlName="moMLink" placeholder="MoM Link" />
  <input
    type="number"
    formControlName="duration"
    placeholder="Duration In Minute"
  />
  <input type="text" formControlName="comments" placeholder="Comments" />
  <button type="submit">Add Meeting Minute</button>
</form>

<section > 
<ng-container *ngIf="meetingMinutes.length > 0; else noMeeting" >
  <ng-container *ngFor="let meetingMinute of meetingMinutes; let i = index;">
    <section class="meeting-minute-item">
      <p>Project ID: {{ meetingMinute.projectId }}</p>
    <p>Meeting Date: {{ meetingMinute.meetingDate }}</p>
    <p>MoM Link: {{ meetingMinute.moMLink }}</p>
    <p>Duration: {{ meetingMinute.duration }}</p>
    <p>Comments: {{ meetingMinute.comments }}</p>
    <button (click)="deleteMeetingMinute(meetingMinute.id)">Delete</button>
    </section>
  </ng-container>
</ng-container>
<ng-template #noMeeting>
  <h2>No meeting is scheduled</h2>
</ng-template>
</section>