<form [formGroup]="meetingMinuteForm" (submit)="addMeetingMinute()">
  <input type="text" formControlName="projectId" placeholder="Project ID" />
  <input type="date" formControlName="meetingDate" placeholder="Meeting Date" />
  <input type="text" formControlName="momLink" placeholder="MoM Link" />
  <input
    type="text"
    formControlName="duration"
    placeholder="Duration In Minute"
  />
  <input type="text" formControlName="comments" placeholder="Comments" />
  <button type="submit">Add Meeting Minute</button>
</form>

<div *ngFor="let meetingMinute of meetingMinutes; let i = index">
  <p>Project ID: {{ meetingMinute.projectId }}</p>
  <p>Meeting Date: {{ meetingMinute.meetingDate }}</p>
  <p>MoM Link: {{ meetingMinute.momLink }}</p>
  <p>Duration: {{ meetingMinute.duration }}</p>
  <p>Comments: {{ meetingMinute.comments }}</p>
  <button (click)="deleteMeetingMinute(meetingMinute.id)">Delete</button>
</div>
