<!-- Form Data For metting minute in which the meeting is going to schedule-->
<form [formGroup]="meetingMinuteForm" (submit)="addMeetingMinute()">
  <input
    type="text"
    formControlName="projectId"
    placeholder="Project the Valid Project ID"
  />
  <input
    type="datetime-local"
    formControlName="meetingDate"
    placeholder="Meeting Date"
  />
  <input type="text" formControlName="moMLink" placeholder="MoM Link" />
  <input
    type="text"
    formControlName="duration"
    placeholder="Duration In Minute"
  />
  <input type="text" formControlName="comments" placeholder="Comments" />
  <button type="submit">Add Meeting Minute</button>
</form>

<!-- If the data is Get from the database then display all the data element -->
@if(meetingMinutes.length){ @for(meetingMinute of meetingMinutes; track $index){
<p>Project ID: {{ meetingMinute.projectId }}</p>
<p>Meeting Date: {{ meetingMinute.meetingDate }}</p>
<p>MoM Link: {{ meetingMinute.moMLink }}</p>
<p>Duration: {{ meetingMinute.duration }}</p>
<p>Comments: {{ meetingMinute.comments }}</p>
<button (click)="deleteMeetingMinute(meetingMinute.id)">Delete</button>
} } @else {
<!-- If no data is present then it will display the simple text -->
<h2>No metting is Scheduled</h2>
}
