<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Date</th>
      <th>General Update</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @if(projects.length){ @for(project of projects ;track $index){
    <tr>
      <td>{{ project.projectId }}</td>
      <td>{{ project.date }}</td>
      <td>{{ project.generalUpdate }}</td>
      <td><button (click)="onDeleteItem(project.id)">Delete</button></td>
    </tr>
    } }@else {
    <td colspan="4">No data Found</td>
    }
  </tbody>
</table>
