.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling for input field */
.input-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 16px;
}

/* Styling for button */
.input-container button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect for button */
.input-container button:hover {
  background-color: #0056b3;
}

/*table*/
.table-container {
  overflow-x: auto;
}

.feedback-table {
  width: 100%;
  border-collapse: collapse;
}

.feedback-table th,
.feedback-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.feedback-table th {
  background-color: #f2f2f2;
}
