<form [formGroup]="feedbackForm" (submit)="addFeedback()">
  <input
    type="text"
    formControlName="projectId"
    placeholder="Project ID"
  />
  <input
    type="date"
    formControlName="feedbackDate"
    placeholder="Feedback Date"
  />
  <input
    type="text"
    formControlName="feedbackType"
    placeholder="Feedback Type"
  />
  <input type="text" formControlName="details" placeholder="Details" />
  <button type="submit">Add Feedback</button>
</form>

<div>
  @for(feedback of clientFeedbacks ;track $index){
  <p>Project ID: {{ feedback.projectId }}</p>
  <p>Feedback Date: {{ feedback.feedbackDate }}</p>
  <p>Feedback Type: {{ feedback.feedbackType }}</p>
  <p>Details: {{ feedback.details }}</p>
  <button (click)="deleteFeedback(feedback.id)">Delete</button>
  }
</div>
