<form [formGroup]="projectUpdatesForm" (ngSubmit)="onSubmit()">
  <div>
    <!-- Valid project ID requier to perform this operation-->
    <label for="projectId">Project ID:</label>
    <input
      type="text"
      id="projectId"
      formControlName="projectId"
      placeholder="Enter the project ID"
    />
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" formControlName="date" />
  </div>
  <div>
    <label for="generalUpdates">General Updates:</label>
    <textarea
      id="generalUpdates"
      formControlName="generalUpdates"
      placeholder="General update"
    ></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
