<section class="container">
  <section class="header">
    <h1>CS Customer Support(Client Portal)</h1>
    <section class="search-bar">
      <input type="text" placeholder="Search" />
      <button>Search</button>
    </section>

    <!-- header option for logout and name of the manger -->
    <section class="user-info">
      <span>{{ name }} </span>
      <button (click)="logout()">Logout</button>
    </section>
  </section>
  <section class="content">
    <section class="side-nav">
      <ul>
        <li (click)="CheckProjectUpdate()">Check Project Update</li>
        <li (click)="onMeeting()">Check Meeting</li>
        <li (click)="onFeedback()">Give Feedback</li>
        <li (click)="onShowFeedback()">Show Feedback</li>
        <li><h2>Setting</h2></li>
      </ul>
    </section>
    <section class="main-content" id="content">
      <button (click)="SavePDF()" class="export-pdf-btn">Export PDf</button>
      <ng-container [ngSwitch]="activeSection">
        <app-show-client-general-update
          *ngSwitchCase="'projectUpdate'"
        ></app-show-client-general-update>
        <app-client-meeting *ngSwitchCase="'ShowMeeting'"></app-client-meeting>
        <app-client-feedback
          *ngSwitchCase="'AddFeedback'"
        ></app-client-feedback>
        <app-show-feedback *ngSwitchCase="'ShowFeedback'"></app-show-feedback>
      </ng-container>
    </section>
  </section>
</section>
