<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Project ID</th>
      <th>Title</th>
      <th>Start Date</th>
      <th>Completion Date</th>
      <th>Approve Date</th>
      <th>Status</th>
      <th>Revised Completion Date</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @if(projectPhaseMileStone.length){ @for(user of projectPhaseMileStone ;track
    $index){
    <tr>
      <td>
        {{ user.id }}
      </td>

      <td>{{ user.projectId }}</td>

      <td>
        <div *ngIf="user.isEdit">
          <input type="text" [(ngModel)]="user.title" />
        </div>
        <div *ngIf="!user.isEdit">
          {{ user.title }}
        </div>
      </td>

      <td>
        <div *ngIf="user.isEdit">
          <input type="date" [(ngModel)]="user.startDate" />
        </div>
        <div *ngIf="!user.isEdit">
          {{ user.startDate }}
        </div>
      </td>

      <td>
        <div *ngIf="user.isEdit">
          <input type="date" [(ngModel)]="user.completionDate" />
        </div>
        <div *ngIf="!user.isEdit">
          {{ user.completionDate }}
        </div>
      </td>
      <td>
        <div *ngIf="user.isEdit">
          <input type="date" [(ngModel)]="user.approvalDate" />
        </div>
        <div *ngIf="!user.isEdit">
          {{ user.approvalDate }}
        </div>
      </td>

      <td>
        <div *ngIf="user.isEdit">
          <select [(ngModel)]="user.status">
            <option value="" hidden default>Select the Status</option>
            <option value="0">Delayed</option>
            <option value="1">OnTime</option>
            <option value="2">SignedOffPending</option>
            <option value="3">SignedOff</option>
          </select>
        </div>
        <div *ngIf="!user.isEdit">
          @if(user.status=='0'){
          <p>Delayed</p>
          }@else if(user.status=='1'){
          <p>OnTime</p>
          }@else if (user.status=='2') {
          <p>SignedOffPending</p>
          }@else if (user.status=='3') {
          <p>SignedOff</p>
          }@else {
          <p>No role has been defined</p>
          }
        </div>
      </td>
      <td>
        <div *ngIf="user.isEdit">
          <input type="date" [(ngModel)]="user.revisedCompletionDate" />
        </div>
        <div *ngIf="!user.isEdit">
          {{ user.revisedCompletionDate }}
        </div>
      </td>
      <td>
        <div *ngIf="user.isEdit">
          <input type="text" [(ngModel)]="user.comments" />
        </div>
        <div *ngIf="!user.isEdit">
          {{ user.comments }}
        </div>
      </td>

      <td>
        <div *ngIf="!user.isEdit" class="btn-container" class="btn-container">
          <button (click)="onEdit(user)">Edit</button>
          <button (click)="deletePhase(user.id)">Delete</button>
        </div>
        <div *ngIf="user.isEdit" class="btn-container" class="btn-container">
          <button (click)="onUpdate(user)">Update</button>
          <button (click)="onCancel(user)">Cancel</button>
        </div>
      </td>
    </tr>
    }}@else {
    <td colspan="10">No Data found</td>
    }
  </tbody>
</table>
