<form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" class="form-container">
  <div>
    <!-- <label for="projectId">Project ID:</label>
    <input
      type="text"
      id="projectId"
      formControlName="projectId"
      placeholder="Name of the resource"
    /> -->
    <label for="projectId">Project ID</label>
    <select formControlName="projectId" id="projectId" required>
      <option value="" default hidden>Select the Project IDs</option>
      <option *ngFor="let user of projectIds" [value]="user">{{ user }}</option>
    </select>
  </div>
  <div>
    <label for="noOfResources">Number of Resources:</label>
    <input
      type="number"
      id="noOfResources"
      formControlName="noOfResources"
      placeholder="Enter the no of resource"
    />
  </div>
  <div>
    <label for="role">Role:</label>
    <input
      type="text"
      id="role"
      formControlName="role"
      placeholder="Enter the role"
    />
  </div>
  <div>
    <label for="availability">Availability:</label>
    <input
      type="text"
      id="availability"
      formControlName="availability"
      placeholder="Availability"
    />
  </div>
  <div>
    <label for="duration">Duration:</label>
    <input
      type="number"
      id="duration"
      formControlName="duration"
      placeholder="Duration in Days"
    />
  </div>
  <div>
    <label for="phase">Phase:</label>
    <input
      type="number"
      id="phase"
      formControlName="phase"
      placeholder="Enter the phase"
    />
  </div>
  <button type="submit" [disabled]="resourceForm.invalid">Submit</button>
</form>
