<section class="container">
  <section class="header">
    <h1>CS Customer Support(Project Manger)</h1>
    <section class="search-bar">
      <input type="text" placeholder="Search" />
      <button>Search</button>
    </section>

    <!-- header option for logout and name of the manger -->
    <section class="user-info">
      <span>{{ users[0].name }}(Project Manager) </span>
      <button (click)="logout()">Logout</button>
    </section>
  </section>
  <section class="content">
    <section class="side-nav">
      <ul>
        <li (click)="onMetting()">Add meeting</li>
        <li (click)="onViewFeedback()">View Client Feedback</li>
        <li (click)="onAddProjectUpdate()">Add Project Update</li>
        <li (click)="onShowProject()">Show Project Update</li>

        <li><h2>Setting</h2></li>
      </ul>
    </section>

    <section class="main-content" id="content">
      <button (click)="SavePDF()" class="export-pdf-btn">Export PDf</button>
      <ng-container [ngSwitch]="activeSection">
        <app-meeting-project-manager
          *ngSwitchCase="'Addmeeting'"
        ></app-meeting-project-manager>
        <app-manager-project-update
          *ngSwitchCase="'ShowProjectUpdate'"
        ></app-manager-project-update>
        <app-project-updates
          *ngSwitchCase="'AddProjectUpdate'"
        ></app-project-updates>
        <app-show-feedback-manager
          *ngSwitchCase="'ShowFeedback'"
        ></app-show-feedback-manager>
      </ng-container>
    </section>
  </section>
</section>
