<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div>
    <!-- <label for="ProjectID">Project ID:</label>
    <input
      type="text"
      id="ProjectID"
      formControlName="id"
      placeholder="enter the project ID"
    /> -->
  </div>
  <div>
    <label for="project-name">Project Name:</label>
    <input
      type="text"
      id="project-name"
      formControlName="Name"
      placeholder="enter the project Name"
    />
  </div>
  <div>
    <label for="Description">Description:</label>
    <input
      type="text"
      id="Description"
      formControlName="description"
      placeholder="enter the project Description"
    />
  </div>

  <button type="submit">Submit</button>
</form>
